/.vs/Build.Net/v14/.suo
/Build.Net/bin/
/Build.Net/obj/
/Build.Net.Framework/bin/
/Build.Net.Framework/obj/
/Build.Net.SmartData/bin/
/Build.Net.SmartData/obj/
/Build.Net.Operations/bin/
/Build.Net.Operations/obj/
/packages
*.user
/MsBuild/Distribution/
/MsBuild/Projects/SmartData/TestResult.xml
/Build.Net.Tasks/bin/
/Build.Net.Tasks/obj/
/Build.Net.UnitTests/bin/
/Build.Net.UnitTests/obj/
/Build.Net/.vs/Build.Net/v14/.suo
/Build.Net.v12.suo
/Build.Net/packages